blockquote {
  background: #fff;
  border-left: 4px solid #000;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #000;
  content: open-quote;
  font-size: 3em;
  line-height: 0em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
